.InputAction{
    display: none
}
.LabelStyled{
    display: flex;
    align-items: center;
    gap: '8px';
    min-width: var(--minWidthSizeBtn);
    min-height: var(--minHeightSizeBtn);
    padding: var(--paddingBtn);
    color: var(--textColor);
    font-family: inherit;
    font-weight: normal;
    margin: var(-marginBtn);
    border: none;
    border-radius: var(--borderRadiusBtn);
    transition: background 0.5s ease;
    cursor: pointer;
}
.TextFileName {
    text-align: center;   
    box-shadow: var(--shadowSize) var(--primaryColorLight);
    padding: .5rem;
}
.LabelStyled[styled='primary']{
    background-color: var(--primaryColor);
    box-shadow: var(--shadowSize) var(--primaryColorLight);
}
.LabelStyled[styled='primary']:hover{
        background-color: var(--primaryColorLight);
}
.LabelStyled[styled='secondary']{
    background-color: var(--secondaryColor);
    box-shadow: var(--shadowSize) var(--secondaryColorLight);
}
.LabelStyled[styled='secondary']:hover{
    background-color: var(--secondaryColorLight);
}