.InputCont{
      height: '56px';
      border-radius: var(--brFieldInput);
      display: inline-flex;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      will-change: opacity,transform,color;
      border-bottom: 1px solid var(--colorbrBottom);
      background-color: var(--bgFieldInput);
      margin: 10px;
}

.InputCont[data-status='active']{
    border-bottom: 2px solid var(--primaryColor);
    background-color: var(--bgFieldInputFocus);
}

.InputCont[data-status='active'] .LabelStyle:not([inputmode="file"]){
    transform: translateY(-86%) scale(0.75);
    color: var(--primaryColor)
}
  
.InputStyled{
    font-family: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid var(--colorBrBottom);
    border-radius: 0;
    opacity: 0.4;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.InputStyled:hover {
    border-bottom-color: var(--primaryColor)
}

.InputStyled:focus {
    outline: none;
    opacity: 1
}
  
.LabelStyle{
    font-family: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,.6);
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    transform-origin: left top;
    transition:transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform;
    left: 16px;
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
  