.main {
    display: grid;
    grid-template: max-content / repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem;
    padding: .5rem;
}

.item {
    display: grid;
    grid-template: max-content 1fr /1fr;
    box-shadow: 0 0 4px #716e6e
}

.title {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid var(--primaryColor);
    padding: .5rem;
}
.content {
    display: grid;
    grid-template: max-content / 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
}