.c-collapsible-container-header {
  border-top: 1px solid var(--colorBorderDropable);
  border-bottom: 1px solid var(--colorBorderDropable);
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.c-collapsible-container-body {
  animation-delay: 2s;
  /* border: 1px solid var(--colorBorderDropable); */
  border-top: none;
  padding: 1rem;
  display: none;
}